.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato dd {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
  color: #ffffff;
  align-items:center;
  display: flex;
  margin-right: 20px;
  padding: 10px;
  
}

.footer-contato a {
  color: #ffffff;
  
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}


.footer img{
	max-width: 30px;
	margin-left: -45px;
	margin-right: 25px;
	
}


.footer-contato dd{
  margin-top: -30px;
  margin-left: 0px;
  margin-bottom: 15px;
}



@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato dd {
    font-size: 1.5rem;
  }
}
